.contacts {
  &--header {
    display: flex;
    flex-direction: column;
    gap: 39px;
    margin-top: 50px;
    margin-left: 69px;

    @media screen and(min-width:768px) and(max-width:1279px) {
      margin-top: 38px;
      margin-left: 83px;
    }
    @media screen and(min-width:1280px) {
      position: absolute;
      top: 638px;
      right: 0;
      flex-direction: column;
    }
  }

  &__link {
    transition: $cubic;
    &:hover,
    &:focus,
    &:active {
      color: $main-color;
    }
  }

  &__icon {
    width: 34px;
    height: 34px;
  }
}
