.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin: 0;
  &__cross {
    position: absolute;
    top: 20px;
    right: 20px;
    @media screen and(min-width:768px) {
      top: 30px;
      right: 30px;
    }
    @media screen and(min-width:1280px) {
      top: 50px;
      right: 50px;
    }
  }
  &__hero {
    @extend %font-subtitle;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 56px;
    background-color: $main-color;
    color: $white-color;
    text-transform: uppercase;
    transition: $cubic;
    @media screen and(max-width:375px) {
      width: 225px;
    }
    @media screen and(min-width:768px) and(max-width:$max1280) {
      width: 394px;
      height: 56px;
    }
    @media screen and(min-width:$min1280) {
      width: 575px;
      height: 69px;
    }
    &:hover,
    &:focus {
      background-color: $hover-color;
    }
    &:active {
      background-color: $active-color;
    }
  }
}
